{% extends 'base.html' %}

{% block title %} Register {% endblock %}

{% block styles %}
    <style>
        .register-container {
            margin-top: 30px
        }
        .register-form {
            background: linear-gradient(to left, #d8edff, #0bf3ff); /* Gradient background */
            padding: 30px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Shadow for form */
        }

        .register-cover {
            align-content: center;
        }
       
        .register-cover h2, .register-cover p {
            margin-bottom: 20px;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="row register-container">
        <!-- Left cover -->
        <div class="col-md-6 register-cover">
            <h2>Welcome to Django!</h2>
            <p>Join us today and start your journey.</p>
        </div>

        <!-- Right register form -->
        <div class="col-md-6">
            <div class="register-form">
                <h2 class="text-center mb-4">Register</h2>
                <form method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" id="username" name="username" class="form-control" placeholder="Enter your username" required>
                    </div>
                    <div class="form-group">
                        <label for="email">Email address</label>
                        <input type="email" id="email" name="email" class="form-control" placeholder="Enter your email" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" id="password" name="password" class="form-control" placeholder="Enter your password" required>
                    </div>
                    <div class="form-group">
                        <label for="confirm_password">Confirm Password</label>
                        <input type="password" id="confirm_password" name="confirm_password" class="form-control" placeholder="Confirm your password" required>
                    </div>
                    <button type="submit" class="button-gradient btn-block">Register</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
